apiVersion: batch/v1
kind: Job
metadata:
  name: minio-init
  namespace: pipeline
spec:
  ttlSecondsAfterFinished: 300
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: mc
          image: minio/mc:latest
          imagePullPolicy: IfNotPresent
          command: ["/bin/sh","-lc"]
          args:
            - |
              set -e
              sleep 3
              mc alias set local http://minio:9000 minioadmin minioadmin
              mc mb -p local/hudi || true
              mc anonymous set none local/hudi || true
              echo "MinIO bucket ready: hudi"
